@import 'mixins';
@import 'variables';

@mixin lobster-font {
  font-family: 'Lobster', cursive;
}

@mixin overpass-font {
  font-family: 'Overpass Mono', monospace;
}

@mixin before-elem($color, $content, $font-size) {
  &::before {
    @include overpass-font;
    font-weight: 100;
    padding: 0 1em;
    color: $color;
    content: $content;
    font-size: $font-size;
  }
}

*,
html,
body {
  @include set-to-zero;
  background-color: $color1;
}

.app {
  width: 75%;
  margin: 0 auto;
  height: 100vh;
}
