$path-fonts: '../fonts/';
//colors
$color1: rgba(204, 139, 134, 1);
$color2: rgba(249, 234, 225, 1);
$color3: rgba(125, 79, 80, 1);
$color4: rgba(209, 190, 156, 1);
$color5: rgba(170, 153, 143, 1);
$color-grey: #b0b0b0;


//media breaks
$media-br-1: 768px;
